#version=RHEL9
# X Window System configuration information
#xconfig  --startxonboot
# License agreement
eula --agreed
# Use graphical install
text
# SELinux configuration
selinux --disabled
# Network information
network  --bootproto=dhcp --noipv6 --activate
#network  --bootproto=dhcp --hostname=localhost.localdomain
# firewall
firewall --disabled

#ignoredisk --only-use=sda
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --disable
# System services
services --enabled="chronyd"
services --enabled="sshd"
services --enabled="NetworkManager"

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US --addsupport=en_GB.UTF-8

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --plaintext password
# System timezone
timezone UTC  --utc
# System bootloader configuration
bootloader --location=mbr
#autopart --type=lvm
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information

#Disk partitioning information
part /boot/efi --fstype="vfat" --size=400
part /boot --fstype="ext4" --size=2048
part swap --fstype="swap" --size=8192
part / --fstype="ext4" --grow --size=1


%packages
@guest-agents
@legacy-unix
@system-tools
mc
curl
wget
tar
bzip2
kernel-devel
kernel-headers
kernel-uek-devel
perl
gcc
git
make
elfutils-libelf-devel
langpacks-en
glibc-all-langpacks
openssh-server
openssh-clients
openssh
python3-pip
python3-setuptools
tuned
tuned-profiles-atomic
spice-vdagent
qemu-guest-agent
%end

%addon com_redhat_subscription_manager
%end
%addon ADDON_placeholder --disable --reserve-mb=auto
%end
%addon com_redhat_kdump --disable
%end


# post part
%post --log=/var/log/anaconda/kickstart_post_sshd.log
sed -ri 's/PasswordAuthentication no/PasswordAuthentication yes/' /etc/ssh/sshd_config
sed -ri 's/#PasswordAuthentication yes/PasswordAuthentication yes/' /etc/ssh/sshd_config
sed -ri 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config
systemctl enable sshd --now
%end

# post part
%post --log=/var/log/anaconda/kickstart_post.log
#systemctl enable qemu-guest-agent
systemctl set-default multi-user.target
%end

#reboot
reboot