#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# X Window System configuration information
xconfig  --startxonboot
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us','pl'
# Root password
rootpw password
# Use network installation
#url --url="http://mirror.centos.org/centos/7/os/x86_64"
# Use cdrom
cdrom
# System language
lang en_US --addsupport=en_GB.UTF-8
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
# graphical
# Use text install
text
# Run the Setup Agent on first boot
firstboot --disable
# SELinux configuration
selinux --disabled
# License agreement
eula --agreed

# System services
services --enabled="chronyd"
services --enabled="sshd"
services --enabled="NetworkManager"

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate
# Reboot after installation
reboot
# System timezone
timezone Europe/Copenhagen --ntpservers=3.centos.pool.ntp.org,0.centos.pool.ntp.org,2.centos.pool.ntp.org,1.centos.pool.ntp.org
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot/efi --fstype="vfat" --size=200
part /boot --fstype="ext4" --size=1024
part swap --fstype="swap" --size=16384
part / --fstype="ext4" --grow --size=1

# pre part
%pre

%end

# post part
%post
systemctl enable sshd
# systemctl start sshd
systemctl set-default multi-user.target
systemctl disable initial-setup-text
systemctl disable initial-setup-graphical
sed -i 's/__all__ = \["EULAspoke"\]/__all__ = \["LicenseScreen"\]/' /usr/lib/python2.7/site-packages/initial_setup/tui/spokes/eula.py
# secure boot files
cp -pr /boot/efi/EFI/centos/* /boot/efi/EFI/BOOT/
# delete libvirt
systemctl stop libvirtd
systemctl disable libvirtd
%end

%packages
@base
@compat-libraries
@core
#@dial-up
@guest-agents
#@hardware-monitoring
@input-methods
@network-file-system-client
@performance
#@security-tools
#@x11
chrony
mc
curl
wget
yum-priorities
yum-versionlock
yum-utils
yum-cron
openssh-server
openssh-clients
openssh
kernel-devel
kernel-headers
make
patch
gcc
%end
