#version=RHEL8
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# Use graphical install
text
# SELinux configuration
selinux --disabled
# Network information
#network  --bootproto=dhcp --noipv6 --activate
#network  --bootproto=dhcp --hostname=localhost.localdomain

ignoredisk --only-use=sda
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --disable
# System services
services --enabled="chronyd"
services --enabled="sshd"
services --enabled="NetworkManager"

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US --addsupport=en_GB.UTF-8

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$kivIgMEEjORaheG3$MTEQUVvZE0744qxUdXrSXfs/ePGYOVNGJv9aXVUyXRCiX3oizj69RF5Rw17npKPiltKgdepk0yO8/gzJQ2Se6/
# System timezone
timezone Europe/Warsaw --isUtc --ntpservers=0.rhel.pool.ntp.org
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
#autopart --type=lvm
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot/efi --fstype="vfat" --size=200
part /boot --fstype="ext4" --size=1024
part swap --fstype="swap" --size=16384
part / --fstype="ext4" --grow --size=1

%packages
@guest-agents
@headless-management
@legacy-unix
@system-tools
mc
curl
wget
tar
bzip2
kernel-devel
kernel-headers
kernel-uek-devel
perl
gcc
make
elfutils-libelf-devel
langpacks-en
glibc-all-langpacks
openssh-server
openssh-clients
openssh
%end

%addon com_redhat_subscription_manager
%end
%addon ADDON_placeholder --disable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# post part
%post
systemctl enable sshd
systemctl set-default multi-user.target
systemctl disable initial-setup-text
systemctl disable initial-setup-graphical
initial_setup/tui/spokes/eula.py
#
cp -pr /boot/efi/EFI/almalinux/* /boot/efi/EFI/BOOT/
# delete libvirt
systemctl stop libvirtd
systemctl disable libvirtd
%end

#reboot
reboot